body {
	//width: @content-width;
}
.text-success {
	color: @c5;
}
.text-error {
	color: @c2;
}
#page-header {
	background: #404040 url(../images/bg/01.png) top;
	.header_top {
		.box-shadow(inset 0 -2px 6px #000);
		position: relative;
		z-index: 1;
		@media @sm, @xs {
			.container {
				text-align: center;
			}
		}
	}
	.header_bottom {
		position: relative;
		background: fade(#fff,25);
	}
	.logo {
		float: left;
		width: 265px;
		height: 72px;
		overflow: visible;
		margin: 0;
		@media @sm {
			width: auto;
			float: none;
			height: auto;
			margin: 0 33.3333%;
		}
		@media @xs {
			float: none;
			width: auto;
			max-width: 265px;
			height: auto;
			margin: auto;
		}
		a {
			.border-radius(0 0 8px 8px);
			display: block;
			padding: 15px 21px 28px 32px;
			background: #fff;
			img {
				display: block;
			}
		}
	}
}
#col-left {
	float: left;
	width: 230px;
	margin: 0 0 80px;
	@media @sm, @xs {
		width: auto;
		float: none;
	}
}
#col-main {
	float: right;
	width: 840px;
	margin: 0 0 80px;
	@media @md {
		width: 640px;
	}
	@media @sm, @xs {
		width: auto;
		float: none;
	}
}
#col-bottom {
	position: relative;
	background: #454545 url(../images/bg/01.png) top;
}
.mod_menu-sidebar {
	margin: 12px 0 70px;
	@media @sm, @xs {
		margin: 0 0 20px;
	}
	ul {
		.rul;
		border-top: 1px solid #bfbfbf;
		@media @sm, @xs {
			text-align: center;
			border-bottom: 1px solid #bfbfbf;
		}
		li {
			.rli;
			border-bottom: 1px solid #bfbfbf;
			@media @sm, @xs {
				border: 0;
				display: inline-block;
				vertical-align: top;
			}
			&.act {
				a {
					font-weight: bold;
				}
			}
			a {
				display: block;
				color: @c1;
				text-decoration: none;
				font-size: 24px;
				line-height: 1.2;
				padding: 12px 10px 11px 48px;
				font-weight: 300;
				&:hover{
					color: @c2;
				}
				&:before{
					.fi;
					content: '\e81a';
					position: absolute;
					left: 26px;
					top: 17px;
					font-size: 18px;
					line-height: 1;
					color: @c3;
					font-weight: bold;
				}
			}
		}
	}
}
.mod_menu-main {
	float: left;
	width: 603px;
	@media @md {
		width: 655px;
	}
	@media @sm, @xs {
		width: auto;
		float: none;
	}
	ul {
		.rul;
		margin: 24px 15px 10px 0;
		text-align: right;
		@media @md, @sm {
			margin-right: 0;
		}
		@media @sm, @xs {
			text-align: center;
		}
		li {
			.rli;
			display: inline-block;
			font-size: 14px;
			line-height: 1.2;
			color: #fff;
			padding: 0 12px 0 0;
			margin: 0 10px 15px 0;
			font-weight: 600;
			@media @md {
				margin-right: 0;
				margin-left: 15px;
			}
			@media @sm, @xs {
				margin-left: 0;
				margin-right: 0;
				padding: 0 10px;
			}
			&:last-child {
				@media @md {
					padding-right: 0;
				}
				&:before{
					display: none;
				}
			}
			&:before{
				left: 100%;
				top: -1px;
				content: '|';
				font-weight: normal;
				font-size: 16px;
			}
			a {
				color: #fff;
			}
		}
	}
}
.mod_menu-header {
	float: left;
	width: 152px;
	@media @md {
		float: right;
		padding-left: 15px;
	}
	@media @sm, @xs {
		float: none;
		display: inline-block;
	}
	ul {
		.rul;
		margin: -6px 0 0;
		li {
			.rli;
			margin: 0 0 10px;
			a {
				.border-radius(6px);
				.transition(0.2s);
				display: block;
				text-align: center;
				padding: 27px 10px 18px;
				text-decoration: none;
				color: @c1;
				text-transform: uppercase;
				font-size: 15px;
				line-height: 1.2;
				background: #d3d3d3;
				background-image: -moz-linear-gradient(top,  #d3d3d3 0%, #b3b3b3 100%);
				background-image: -webkit-linear-gradient(top,  #d3d3d3 0%,#b3b3b3 100%);
				background-image: linear-gradient(to bottom,  #d3d3d3 0%,#b3b3b3 100%);
				&:hover{
					background: #fff;
				}
			}
		}
	}
}
.mod_menu-lang {
	position: relative;
	float: left;
	width: 100px;
	margin: -6px 0 15px;
	padding: 0 0 0 18px;
	@media @md {
		float: right;
	}
	@media @sm, @xs {
		float: none;
		display: inline-block;
	}
	&:hover{
		.current {
			background: #fff;
		}
		ul {
			display: block;
		}
	}
	.current {
		.border-radius(6px);
		.transition(0.2s);
		display: block;
		text-align: right;
		padding: 27px 20px 18px;
		text-decoration: none;
		color: @c1;
		text-transform: uppercase;
		font-size: 15px;
		line-height: 1.2;
		font-weight: bold;
		background: #d3d3d3;
		cursor: pointer;
		background-image: -moz-linear-gradient(top,  #d3d3d3 0%, #b3b3b3 100%);
		background-image: -webkit-linear-gradient(top,  #d3d3d3 0%,#b3b3b3 100%);
		background-image: linear-gradient(to bottom,  #d3d3d3 0%,#b3b3b3 100%);
		&:before{
			.fi;
			content: '\e809';
			float: left;
			font-weight: normal;
			margin: -2px 0 0;
			font-size: 23px;
			line-height: 1;
		}
	}
	ul {
		.rul;
		position: absolute;
		display: none;
		top: 100%;
		left: 18px;
		right: 0;
		margin: -8px 0 0;
		border-top: 8px solid #fff;
		background: #fff;
		li {
			.rli;
			a {
				display: block;
				font-weight: bold;
				text-transform: uppercase;
				text-align: center;
				font-size: 15px;
				line-height: 1.2;
				text-decoration: none;
				padding: 15px 10px;
				border-top: 1px solid #ccc;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_search {
	float: left;
	width: 808px;
	padding: 11px 0 12px 353px;
	@media @md {
		width: 608px;
		padding-left: 0;
	}
	@media @sm {
		width: 50%;
		padding-left: 0;
	}
	@media @xs {
		float: none;
		width: auto;
		padding-left: 0;
	}
	input[type="search"], input[type="text"] {
		.border-radius(6px);
		float: left;
		height: 49px;
		padding: 0 70px 0 20px;
		margin: 0 -64px 0 0;
		border-color: transparent;
		&:hover, &:focus{
			border-color: @c1;
		}
	}
	button {
		position: relative;
		height: 49px;
		line-height: 49px;
		padding: 0 0 0 10px;
		width: 64px;
		font-size: 0;
		font-weight: normal;
		background: none;
		text-align: left;
		&:before{
			.fi;
			content: '\e80d';
			font-size: 24px;
			color: @c1;
		}
	}
}
.mod_menu-top {
	float: left;
	width: 200px;
	padding: 27px 0 0 20px;
	@media @sm {
		width: 30%;
	}
	@media @xs {
		width: 50%;
		padding-left: 0;
		padding-right: 20px;
	}
	ul {
		.rul;
		li {
			.rli;
			text-align: right;
			text-transform: uppercase;
			font-weight: 600;
			line-height: 1.2;
			margin: 0 0 10px;
			@media @xs {
				text-align: left;
			}
			a {
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_custom-basket {
	float: left;
	width: 112px;
	padding: 12px 0 0 30px;
	@media @sm {
		width: 20%;
	}
	@media @xs {
		width: 50%;
	}
	a {
		.transition(0.2s);
		.border-radius(6px);
		display: block;
		text-decoration: none;
		color: #fff;
		font-size: 0;
		text-align: center;
		padding: 12px 10px;
		background: transparent;
		background-image: url(../images/bg/01.png);
		&:hover{
			background: @c2;
		}
		&:before{
			.fi;
			content: '\e80e';
			font-size: 24px;
			line-height: 1;
		}
	}
}
.mod_menu-category {
	padding: 28px 0 25px;
	background: #dbdbdb;
	background: -moz-linear-gradient(top,  #dbdbdb 0%, #f5f5f5 100%);
	background: -webkit-linear-gradient(top,  #dbdbdb 0%,#f5f5f5 100%);
	background: linear-gradient(to bottom,  #dbdbdb 0%,#f5f5f5 100%);
	.mod-title {
		position: relative;
		float: left;
		font-size: 15px;
		line-height: 1.3;
		width: 150px;
		padding: 23px 30px 23px 0;
		text-transform: uppercase;
		@media @md, @sm, @xs {
			float: none;
			width: auto;
			padding: 0 0 20px;
			text-align: center;
		}
		&:before{
			.fi;
			content: '\e82b';
			position: absolute;
			top: 50%;
			right: -20px;
			font-size: 64px;
			line-height: 1;
			margin: -32px 0 0;
			@media @md, @sm, @xs {
				display: none;
			}
		}
	}
	ul {
		.rul;
		float: left;
		width: 990px;
		margin: 0 -20px 0 0;
		text-align: center;
		@media @md, @sm, @xs {
			float: none;
			width: auto;
			margin: 0;
		}
		li {
			.rli;
			display: inline-block;
			vertical-align: middle;
			&:last-child {
				a {
					&:before{
						display: none;
					}
				}
			}
			a {
				display: inline-block;
				vertical-align: middle;
				padding: 10px 17px 10px 18px;
				@media @md {
					padding: 10px;
				}
				&:hover{
					img {
						top: 5px;
						filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
						-webkit-filter: grayscale(0%);
					}
				}
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 100%;
					width: 2px;
					height: 82px;
					margin: -41px 0 0;
					background: #b6b6b6;
					border-right: 1px solid #fff;
				}
				img {
					.transition(0.2s);
					position: relative;
					top: 0;
					display: block;
					filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
					filter: gray;
					-webkit-filter: grayscale(100%);
				}
			}
		}
	}
}
.mod_custom-slideshow {
	position: relative;
	.items {
		.item {
			position: relative;
			overflow: hidden;
			&.cycle-slide {
				h2 {
					.transition(2s);
					text-indent: -100px;
					&:before, &:after {
						.transition(2s);
						content: '';
						position: absolute;
						width: 100%;
						height: 2px;
						background: @c2;
					}
					&:before{
						right: 0;
						bottom: 100%;
					}
					&:after{
						left: 0;
						top: 100%;
					}
				}
				&.cycle-slide-active {
					h2 {
						text-indent: 0;
						&:before, &:after{
							width: 0;
						}
					}
				}
			}
			a {
				display: block;
				position: relative;
				text-decoration: none;
				color: #fff;
				&:before {
					.box-shadow(inset 0 0 6px #000);
					content: '';
					position: absolute;
					top: 0;
					left: -6px;
					right: -6px;
					bottom: 0;
				}
				figure {
					img {
						display: block;
					}
				}
				h2 {
					position: absolute;
					bottom: 42%;
					left: 0;
					right: 0;
					padding: 2.6% 20px;
					margin: 0;
					font-size: 48px;
					line-height: 1;
					text-transform: uppercase;
					background: url(../images/bg/01.png) top;
					@media @sm, @xs {
						font-size: 4vw;
					}
				}
			}
		}
	}
	.prev, .next {
		position: absolute;
		z-index: 101;
		left: 0;
		bottom: 50%;
		font-size: 50px;
		line-height: 1;
		text-decoration: none;
		color: #fff;
		@media @sm, @xs {
			margin: 0 0 -25px;
		}
		&:hover{
			color: @c2;
		}
		&:before{
			.fi;
			content: '\e82a';
		}
	}
	.next {
		left: auto;
		right: 0;
		&:before{
			content: '\e82b';
		}
	}
}
.mod_newsflash_xart {
	position: relative;
	padding: 36px 0 70px;
	color: #fff;
	background: #3c3c3c url(../images/bg/01.png) top;
	.mod-title {
		.fh;
		text-align: center;
		text-transform: lowercase;
		font-weight: 900;
		font-size: 48px;
		line-height: 1.2;
		margin: 0 0 103px;
	}
	section {
		text-align: center;
		margin: 0 -10px;
		article {
			position: relative;
			display: inline-block;
			vertical-align: top;
			padding: 0 30px;
			margin: 0 -2px 40px;
			width: 33.3333%;
			@media @xs {
				width: 100%;
				padding: 0 20px;
			}
			a {
				.transition(0.2s);
				color: #fff;
				text-decoration: none;
				&:hover{
					color: @c4;
					.date {
						background: @c2;
					}
				}
			}
			.date {
				.fh;
				.transition(0.2s);
				.border-radius(50%);
				position: absolute;
				left: 50%;
				top: -40px;
				height: 80px;
				width: 80px;
				font-size: 18px;
				line-height: 1.2;
				margin: 0 0 0 -40px;
				padding: 18px 0 0;
				color: #fff;
				background: #949494;
				mark {
					display: block;
					color: #fff;
					font-weight: 900;
					font-size: 19px;
				}
			}
			figure {
				margin: 0 0 30px;
				img {
					.box-shadow(0 0 6px #000);
					display: block;
				}
			}
			h2 {
				font-size: 24px;
				font-weight: bold;
				margin: 0 0 15px;
			}
		}
	}
	nav {
		text-align: center;
		margin: 10px 0 0;
		a {
			.fh;
			.transition(0.2s);
			text-transform: lowercase;
			position: relative;
			display: inline-block;
			padding: 56px 0 0;
			color: @c4;
			font-size: 21px;
			&:hover{
				color: #fff;
				&:before{
					border-color: #fff;
				}
			}
			&:before{
				.fi;
				.border-radius(50%);
				content: '\e80f';
				position: absolute;
				left: 50%;
				top: 0;
				width: 52px;
				height: 52px;
				line-height: 52px;
				margin: 0 0 0 -26px;
				font-size: 24px;
				border: 1px solid @c4;
			}
		}
	}
}
.mod_custom-icons {
	position: relative;
	padding: 80px 0 37px;
	color: #fff;
	background: url(../images/example/07.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url(../images/bg/01.png) top;
	}
	ul {
		.rul;
		text-align: center;
		margin: 0 -14px;
		li {
			.fh;
			.rli;
			display: inline-block;
			vertical-align: top;
			width: 33.3333%;
			margin: 0 -2px 50px;
			padding: 0 20px;
			font-weight: bold;
			font-size: 21px;
			line-height: 1.2;
			@media @xs {
				width: 100%;
			}
			a {
				.transition(0.2s);
				color: #fff;
				text-decoration: none;
				&:hover{
					color: @c2;
					figure {
						border-color: @c2;
					}
				}
			}
			figure {
				.transition(0.2s);
				.border-radius(50%);
				.box-shadow(inset 0 0 150px fade(#000,75));
				width: 254px;
				height: 254px;
				padding: 44px;
				border: 2px solid #fff;
				margin: 0 auto 30px;
				@media @md, @sm, @xs {
					width: 180px;
					height: 180px;
				}
			}
		}
	}
}
.mod_banners {
	padding: 58px 0 46px;
	.mod-title {
		.fh;
		font-size: 48px;
		line-height: 1.2;
		text-align: center;
		color: @c3;
		text-transform: lowercase;
		font-weight: 900;
		padding: 0 0 40px;
		margin: 0 0 45px;
		border-bottom: 1px solid #dadbdb;
	}
	ul {
		.rul;
		text-align: center;
		margin: 0 -20px;
		li {
			.rli;
			display: inline-block;
			vertical-align: middle;
			padding: 0 30px;
			margin: 0 0 30px;
			img {
				display: block;
			}
		}
	}
}
.mod_custom-watch {
	a {
		display: block;
		position: relative;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			content: '\e810';
			position: absolute;
			z-index: 1;
			bottom: 48%;
			left: 50%;
			width: 300px;
			text-align: center;
			margin: 0 0 0 -150px;
			line-height: 1;
			font-size: 8.6vw;
		}
	}
	.mod-title {
		.fh;
		position: absolute;
		z-index: 1;
		top: 59%;
		left: 0;
		right: 0;
		text-transform: uppercase;
		font-weight: 900;
		line-height: 1.1;
		font-size: 3.75vw;
	}
	figure {
		position: relative;
		&:before{
			position: absolute;
			content: '';
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			background: fade(#fff,10);
		}
		img {
			display: block;
		}
	}
}
.mod_custom-contact {
	position: relative;
	padding: 54px 0 5px;
	color: #fff;
	border-bottom: 1px solid #000;
	a {
		color: @c4;
	}
	&:before{
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		height: 1px;
		margin: 1px 0 0;
		background: fade(#fff,15);
	}
	.mod-title {
		.fh;
		position: relative;
		text-transform: lowercase;
		text-align: center;
		font-weight: 900;
		font-size: 48px;
		line-height: 1.2;
		padding: 0 0 38px;
		border-bottom: 1px solid #000;
		&:before{
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			height: 1px;
			margin: 1px 0 0;
			background: fade(#fff,15);
		}
	}
	.title {
		display: inline-block;
		vertical-align: top;
		color: @c4;
		font-size: 30px;
		line-height: 1.2;
		width: 298px;
		margin: 40px -4px 20px 0;
		@media @md, @sm, @xs {
			display: block;
			text-align: center;
			width: auto;
			margin: 30px 0;
		}
	}
	.location {
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin: 24px -4px 20px 0;
		padding: 0 20px 0 83px;
		width: 325px;
		text-transform: uppercase;
		font-size: 17px;
		line-height: 1.35;
		@media @md {
			width: 33.3333%
		}
		@media @sm {
			width: 50%;
		}
		@media @xs {
			width: 100%;
			padding: 83px 0 0;
			text-align: center;
		}
		&:before{
			.fi;
			.border-radius(50%);
			content: '\e811';
			position: absolute;
			left: 0;
			top: 0;
			width: 68px;
			height: 68px;
			line-height: 66px;
			font-size: 30px;
			text-align: center;
			border: 1px solid #fff;
			@media @xs {
				left: 50%;
				margin: 0 0 0 -34px;
			}
		}
	}
	.contact {
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin: 24px -4px 20px 0;
		padding: 7px 20px 0 82px;
		width: 300px;
		line-height: 1.25;
		@media @md {
			width: 33.3333%;
		}
		@media @sm {
			width: 50%;
		}
		@media @xs {
			width: 100%;
			padding: 82px 0 0;
			text-align: center;
		}
		&:before{
			.fi;
			.border-radius(50%);
			content: '\e812';
			position: absolute;
			left: 0;
			top: 0;
			width: 68px;
			height: 68px;
			line-height: 66px;
			font-size: 30px;
			text-align: center;
			border: 1px solid #fff;
			@media @xs {
				left: 50%;
				margin: 0 0 0 -34px;
			}
		}
		mark {
			color: @c4;
			font-size: 24px;
		}
	}
	.media {
		.rul;
		display: inline-block;
		vertical-align: top;
		width: 200px;
		text-align: right;
		margin: 24px -4px 10px 0;
		@media @md {
			width: 33.3333%;
		}
		@media @sm {
			width: 100%;
			text-align: center;
		}
		@media @xs {
			width: 100%;
			text-align: center;
		}
		li {
			.rli;
			display: inline-block;
			margin: 0 0 0 3px;
			a {
				.border-radius(50%);
				.transition(0.2s);
				display: inline-block;
				width: 68px;
				height: 68px;
				line-height: 66px;
				text-align: center;
				border: 1px solid @c4;
				font-size: 0;
				text-decoration: none;
				&:hover{
					color: #fff;
					border-color: #fff;
				}
				[class^="icon-"] {
					display: block;
					&:before{
						font-size: 34px;
						line-height: 66px;
						margin: 0;
					}
				}
			}
		}
	}
}
.mod_menu-links {
	color: #fff;
	padding: 43px 0 35px;
	a {
		color: #fff;
	}
	.cols {
		.clearfix;
		margin: 0 0 0 -20px;
		@media @xs {
			margin: 0;
			text-align: center;
		}
		.col {
			width: 25%;
			padding: 0 0 0 20px;
			float: left;
			&:nth-child(1) {
				width: 32%;
				padding-right: 20px;
				@media @md, @sm, @xs {
					float: none;
					width: 220px;
					margin: auto;
					padding-right: 0;
				}
			}
			&:nth-child(2) {
				width: 20%;
				@media @md {
					width: 28%;
				}
				@media @sm {
					width: 30%;
				}
				@media @xs {
					width: 100%;
				}
			}
			&:nth-child(3) {
				width: 18%;
				@media @md {
					width: 28%;
				}
				@media @sm {
					width: 30%;
				}
				@media @xs {
					width: 100%;
				}
			}
			&:nth-child(4) {
				width: 30%;
				@media @md {
					width: 44%;
				}
				@media @sm {
					width: 40%;
				}
				@media @xs {
					width: 100%;
				}
			}
		}
	}
	.mod-title {
		.fh;
		font-size: 32px;
		line-height: 1.2;
		color: @c4;
		margin: 0 0 19px;
		img {
			display: block;
			margin: -8px 0 0;
		}
	}
	ul {
		.rul;
		margin: 0 0 30px;
		&.inline {
			li {
				display: inline-block;
				vertical-align: top;
				margin-right: -4px;
				width: 33.3333%;
				@media @sm {
					width: 50%;
				}
				@media @xs {
					display: inline;
					margin: 0 5px;
					width: auto;
				}
			}
		}
		li {
			font-size: 17px;
			line-height: 1.2;
			padding: 0 0 0 13px;
			margin: 0 0 10px;
			@media @xs {
				display: inline;
				padding: 0;
				margin: 0 5px;
				&:before{
					display: none;
				}
			}
		}
	}
}
#page-footer {
	padding: 34px 0 100px;
	@media @xs {
		padding-bottom: 50px;
	}
	.copy {
		float: left;
		font-size: 15px;
		@media @xs {
			float: none;
			text-align: center;
		}
	}
	.xart {
		float: right;
		text-transform: uppercase;
		font-size: 12px;
		margin: 4px 0;
		@media @xs {
			float: none;
			text-align: center;
		}
		a {
			text-decoration: none;
			color: @c1;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: right;
			margin: -1px -2px 0 10px;
			@media @xs {
				display: block;
				margin: 0 auto 2px;
				float: none;
			}
		}
	}
}
.mod_breadcrumbs {
	.box-shadow(inset 0 2px 8px fade(#000,20));
	position: relative;
	background: #ccc;
	padding: 22px 0 17px;
	margin: 0 0 60px;
	ul {
		.rul;
		li {
			display: inline-block;
			margin: 0 5px 0 0;
			color: @c2;
			text-transform: uppercase;
			font-weight: bold;
			&:before{
				color: @c1;
				font-weight: normal;
			}
			&.home {
				padding-left: 40px;
				&:before{
					display: none;
				}
				a {
					&:before{
						.fi;
						content: '\e816';
						position: absolute;
						left: 4px;
						top: 0;
						font-size: 22px;
						line-height: 1;
					}
				}
			}
			a {
				color: @c1;
				text-decoration: none;
				text-transform: none;
				font-weight: normal;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_custom-banners {
	margin: 0 0 70px;
	ul {
		.rul;
		li {
			.rli;
			margin: 0 0 20px;
			text-align: center;
		}
	}
}
.eshop-items {
	margin: 0 0 30px;
	.description {
		.clearfix;
		margin: 0 0 50px;
		figure {
			float: left;
			position: relative;
			padding: 8px;
			width: 208px;
			border: 1px solid #bfbfbf;
			@media @xs {
				float: none;
				width: auto;
				margin: 0 0 30px;
				text-align: center;
			}
			&:before, &:after {
				content: '';
				position: absolute;
				top: -1px;
				left: 17px;
				right: 17px;
				bottom: -1px;
				background: #fff;
			}
			&:after{
				top: 17px;
				left: -1px;
				right: -1px;
				bottom: 17px;
			}
			img {
				.border-radius(6px);
				position: relative;
				z-index: 1;
				display: block;
				margin: auto;
			}
		}
		.content {
			float: right;
			width: 600px;
			@media @md {
				width: 400px;
			}
			@media @sm {
				width: 460px;
			}
			@media @xs {
				width: auto;
				float: none;
			}
		}
	}
	.items-filter {
		.border-radius(6px);
		padding: 12px 0 18px 16px;
		margin: 0 0 35px;
		background: #ebebeb;
		@media @md, @sm, @xs {
			padding: 20px;
		}
		label, .input {
			display: inline-block;
			vertical-align: middle;
			margin: 0 10px 20px;
			@media @md, @sm, @xs {
				display: block;
				margin: 0;
			}
		}
		label {
			font-size: 15px;
		}
		.input {
			width: 220px;
			@media @md, @sm, @xs {
				width: 100%;
				margin: 0 0 20px;
			}
		}
		.result {
			margin: 8px 10px 0;
			@media @md, @sm, @xs {
				margin: 0;
			}
			mark {
				font-weight: bold;
				color: @c2;
			}
		}
	}
	.row-items {
		margin: 0 -10px;
		.item {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 33.3333%;
			padding: 18px 20px 85px;
			margin: 0 -4px 20px 0;
			text-align: center;
			@media @md, @sm {
				width: 50%;
			}
			@media @xs {
				width: 100%;
			}
			&:before, &:after {
				.fi;
				content: '\e829';
				position: absolute;
				left: 2px;
				top: 0;
				line-height: 1;
				font-size: 15px;
				color: #bfbfbf;
			}
			&:after{
				left: auto;
				right: 2px;
			}
			a {
				display: block;
				color: @c1;
				text-decoration: none;
				&:hover{
					h2 {
						&:before{
							background: @c3;
						}
					}
					figure {
						img {
							.box-shadow(0 0 20px fade(@c3,50));
						}
					}
				}
			}
			figure {
				margin: 0 0 20px;
				&:before, &:after {
					.fi;
					content: '\e829';
					position: absolute;
					left: 2px;
					bottom: 0;
					line-height: 1;
					font-size: 15px;
					color: #bfbfbf;
				}
				&:after{
					left: auto;
					right: 2px;
				}
				img {
					.border-radius(6px);
					.transition(0.2s);
					display: block;
					margin: auto;
					border: 1px solid #bfbfbf;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}
			}
			h2 {
				font-size: 24px;
				line-height: 25px;
				font-weight: bold;
				min-height: 50px;
				&:before{
					.fi;
					.border-radius(0 6px 6px 0);
					.transition(0.2s);
					content: '\e828';
					position: absolute;
					bottom: 20px;
					right: 20px;
					width: 80px;
					padding: 0 0 0 22px;
					color: #fff;
					line-height: 50px;
					font-size: 26px;
					font-weight: normal;
					text-align: center;
					background: @c2;
				}
			}
			.price {
				.border-radius(6px);
				position: absolute;
				left: 20px;
				right: 78px;
				bottom: 20px;
				line-height: 50px;
				font-size: 30px;
				padding: 0 0 0 20px;
				color: @c3;
				white-space: nowrap;
				text-align: left;
				background: #ebebeb;
			}
		}
	}
}
.detail-image {
	.clearfix;
	float: left;
	width: 570px;
	margin: 30px 0 0;
	@media @md {
		width: 400px;
	}
	@media @sm, @xs {
		width: auto;
		float: none;
	}
	figure {
		margin: 0 0 14px;
		@media @sm {
			float: left;
			width: 50%;
		}
		a {
			display: block;
			position: relative;
			text-decoration: none;
			&:hover{
				img {
					border-color: @c2;
				}
			}
			&:before{
				.fi;
				content: '\e815';
				position: absolute;
				bottom: 22px;
				right: 27px;
				font-size: 32px;
				line-height: 1;
			}
			img {
				.border-radius(6px);
				display: block;
				border: 1px solid transparent;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
		}
	}
	ul {
		.rul;
		margin: 0 -8px;
		@media @sm {
			float: left;
			width: 50%;
			padding: 0 0 0 20px;
		}
		li {
			.rli;
			display: inline-block;
			vertical-align: middle;
			width: 25%;
			margin: 0 -4px 0 0;
			padding: 0 8px 16px;
			@media @sm {
				width: 50%;
			}
			a {
				&:hover{
					img {
						border-color: @c2;
					}
				}
				img {
					.border-radius(6px);
					display: block;
					border: 1px solid transparent;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}
			}
		}
	}
}
.detail-description {
	float: right;
	width: 475px;
	margin: 15px 0 50px;
	@media @sm, @xs {
		width: auto;
		float: none;
	}
	.lead {
		.clearfix;
		margin: 0 0 38px;
		figure {
			float: left;
			width: 130px;
			padding: 5px 25px;
			@media @sm {
				width: 100px;
			}
			@media @xs {
				float: none;
				padding: 5px 0;
			}
		}
		.content {
			float: right;
			width: 320px;
			@media @sm {
				width: 580px;
			}
			@media @xs {
				float: none;
				width: auto;
			}
		}
		nav {
			text-align: right;
			a {
				position: relative;
				display: inline-block;
				font-weight: bold;
				padding: 0 22px 0 0;
				font-size: 16px;
				&:before{
					.fi;
					content: '\e81a';
					position: absolute;
					top: 0;
					right: 0;

				}
			}
		}
	}
	.info {
		.border-radius(6px);
		padding: 37px;
		background: #ebebeb;
		@media @xs {
			.border-radius(0);
			margin: 0 -20px;
			padding: 20px;
		}
		h2 {
			font-size: 24px;
			font-weight: bold;
			margin: 0 0 28px;
		}
		table {
			@media @xs {
				display: block;
			}
			tbody, thead, tfoot {
				@media @xs {
					display: block;
				}
			}
			tr {
				@media @xs {
					display: block;
				}
				th, td {
					padding: 0 0 18px;
					font-size: 18px;
					line-height: 1.2;
					font-weight: normal;
					vertical-align: top;
					@media @xs {
						display: block;
						padding: 0;
					}
					.text-success,.text-error {
						font-weight: bold;
						display: block;
						clear: both;
						[class^="icon-"] {
							float: left;
							font-weight: normal;
							font-size: 32px;
							margin: -10px 9px 0 0;
							&:before{
								margin: 0;
							}
						}
					}
				}
				th {
					padding-right: 40px;
					@media @xs {
						padding: 30px 0 5px;
					}
				}
			}
		}
	}
	.basket {
		.border-radius(10px 6px 6px 10px);
		.clearfix;
		background: @c2;
		@media @xs {
			.border-radius(0);
			margin: 0 -20px;
			padding: 0 0 20px;
		}
		.price {
			.border-radius(6px);
			float: left;
			width: 55%;
			padding: 18px 30px 0;
			min-height: 100px;
			line-height: 1.2;
			background: #d6d6d6;
			@media @xs {
				width: auto;
				.border-radius(0);
				float: none;
			}
			small {
				font-size: 14px;
			}
			mark {
				color: @c3;
				font-size: 25px;
				strong {
					font-size: 33px;
				}
				small {
					font-size: 14px;
				}
			}
		}
		[type="text"], [type="number"] {
			float: left;
			height: 44px;
			text-align: center;
			font-size: 18px;
			width: 15%;
			margin: 28px 2% 0 6%;
			border-color: transparent;
			@media @xs {
				width: 90%;
				margin: 20px 5% 0;
			}
		}
		button {
			position: relative;
			font-size: 0px;
			padding: 0;
			width: 18%;
			height: 44px;
			line-height: 44px;
			margin: 28px 0 0;
			padding: 0 10px 0 8px;
			@media @xs {
				.fh;
				width: 100%;
				font-size: 32px;
				font-weight: 900;
			}
			&:before{
				.fi;
				content: '\e80e';
				font-size: 40px;
				float: right;
				font-weight: normal;
				@media @xs {
					float: none;
					font-size: 32px;
					margin: 0 15px 0 0;
				}
			}
			&:after{
				.fi;
				content: '\e81e';
				font-size: 16px;
				float: left;
				font-weight: normal;
				@media @xs {
					display: none;
				}
			}
		}
	}
	.list {
		ul {
			.rul;
			li {
				.rli;
				padding: 0 20px;
				&:first-child {
					&:before, &:after{
						display: none;
					}
					a {
						border-top: 0;
					}
				}
				&:before, &:after{
					.fi;
					position: absolute;
					top: -8px;
					left: -8px;
					content: '\e829';
					font-size: 16px;
					line-height: 1;
					color: #bfbfbf;
					background: #fff;
				}
				&:after{
					left: auto;
					right: -8px;
				}
				a {
					.fh;
					position: relative;
					display: block;
					text-decoration: none;
					font-weight: 900;
					font-size: 19px;
					line-height: 1.2;
					padding: 38px 0 37px 60px;
					border-top: 1px solid #bfbfbf;
					&:hover{
						text-decoration: underline;
					}
					[class^="icon"] {
						position: absolute;
						left: 10px;
						top: 32px;
						font-size: 32px;
						line-height: 1;
						font-weight: normal;
						&:before{
							margin: 0;
						}
					}
				}
			}
		}
	}
}
.panes {
	.tabs {
		.rul;
		.clearfix;
		border-bottom: 1px solid #bfbfbf;
		@media @xs {
			border-bottom: none;
		}
		li {
			.rli;
			float: left;
			margin: 0 20px 0 0;
			@media @xs {
				float: none;
				margin: 0;
			}
			&.cycle-pager-active {
				&:before{
					top: 100%;
					left: 1px;
					right: 1px;
					border-top: 1px solid #fff;
				}
				a {
					color: @c3;
					background: #fff;
				}
			}
			a {
				.border-radius(6px 6px 0 0);
				display: block;
				text-decoration: none;
				padding: 25px 35px 18px;
				font-size: 16px;
				line-height: 1;
				color: @c3;
				background: #ebebeb;
				border: 1px solid #bfbfbf;
				border-bottom: none;
				@media @xs {
					.border-radius(0);
					margin: 0 0 10px;
					border: 1px solid #bfbfbf;
				}
				[class^="icon-"] {
					font-size: 25px;
					float: left;
					margin: -6px 10px 0 0;
					color: @c2;
					&:before{
						margin: 0;
					}
				}
			}
		}
	}
	.pane {
		padding: 40px 0 60px;
		font-size: 15px;
		line-height: 2.2;
		font-weight: normal;
		@media @xs {
			padding: 0 0 60px;
		}
		&.cycle-slide {
			position: static!important;
			display: none!important;
			&.cycle-slide-active {
				display: block!important;
			}
		}
		a.more {
			display: inline-block;
			text-decoration: none;
			font-weight: 600;
			font-size: 17px;
			line-height: 1;
			margin: 0 0 0 10px;
			&:hover{
				text-decoration: underline;
			}
			&:before{
				.fi;
				content: '\e81a';
				font-size: 14px;
				margin: 2px 0 0 10px;
				float: right;
			}
		}
	}
}
.mod_custom-parts {
	margin: 0 0 65px;
	.mod-title {
		.fh;
		font-size: 36px;
		line-height: 1.2;
		font-weight: bold;
		margin: 0 0 52px;
		[class^="icon-"] {
			color: @c2;
			margin: 0 10px 0 0;
			&:before{
				margin: 0;
			}
		}
	}
	.items {
		margin: 0 -10px;
		.item {
			display: inline-block;
			vertical-align: top;
			width: 33.3333%;
			margin: 0 -4px 45px 0;
			padding: 0 10px;
			@media @sm {
				width: 50%;
			}
			@media @xs {
				width: 100%;
			}
			a {
				text-decoration: none;
				color: @c1;
				&:hover{
					figure {
						img {
							border-color: @c2;
						}
					}
					.content {
						h2 {
							color: @c2;
						}
					}
				}
			}
			figure {
				position: relative;
				display: inline-block;
				vertical-align: top;
				width: 40%;
				padding: 7px 8px 0 5px;
				margin: 0 -4px 0 0;
				&:before, &:after {
					.fi;
					content: '\e829';
					position: absolute;
					left: -9px;
					top: -13px;
					z-index: 1;
					color: #bfbfbf;
				}
				&:after{
					top: auto;
					bottom: -17px;
				}
				img {
					.transition(0.2s);
					display: block;
					border: 1px solid #bfbfbf;
				}
			}
			.content {
				display: inline-block;
				vertical-align: top;
				width: 50%;
				margin: 0 -4px 0 0;
				padding: 0 0 0 10px;
				line-height: 1.2;
				h2 {
					.transition(0.2s);
					font-size: 24px;
					font-weight: bold;
					margin: 0 0 6px;
				}
				p {
					margin: 0 0 12px;
				}
				.price {
					font-size: 30px;
					line-height: 1;
					white-space: nowrap;
					color: @c3;
				}
			}
		}
	}
}
.mod_cookies {
	position: fixed;
	z-index: 999;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	font-size: 15px;
	background: fade(@c4,80%);
	@media @xs {
		position: static;
	}
	a {
		color: #fff;
	}
	p {
		margin: 5px 0;
	}
	nav {
		position: absolute;
		bottom: 100%;
		right: 20px;
		a {
			.btn;
			.border-radius(6px 6px 0 0);
			background: fade(@c4,80%);
			height: 30px;
			line-height: 30px;
			&:hover{
				background: @c4;
			}
		}
	}
}
#gotop{
	@media @xs {
		display: none;
	}
	a{
		.transition(0.2s);
		.border-radius(50%);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e80a';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}