@font-face {
  font-family: 'icons';
  src: url('../font/icons.eot?97226556');
  src: url('../font/icons.eot?97226556#iefix') format('embedded-opentype'),
       url('../font/icons.woff2?97226556') format('woff2'),
       url('../font/icons.woff?97226556') format('woff'),
       url('../font/icons.ttf?97226556') format('truetype'),
       url('../font/icons.svg?97226556#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?97226556#icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-down-dir:before { content: '\e809'; } /* '' */
.icon-up-dir:before { content: '\e80a'; } /* '' */
.icon-left-dir:before { content: '\e80b'; } /* '' */
.icon-right-dir:before { content: '\e80c'; } /* '' */
.icon-search:before { content: '\e80d'; } /* '' */
.icon-basket:before { content: '\e80e'; } /* '' */
.icon-th-list:before { content: '\e80f'; } /* '' */
.icon-camera:before { content: '\e810'; } /* '' */
.icon-location:before { content: '\e811'; } /* '' */
.icon-phone:before { content: '\e812'; } /* '' */
.icon-facebook-squared:before { content: '\e813'; } /* '' */
.icon-twitter-squared:before { content: '\e814'; } /* '' */
.icon-plus-squared:before { content: '\e815'; } /* '' */
.icon-home:before { content: '\e816'; } /* '' */
.icon-minus-squared:before { content: '\e817'; } /* '' */
.icon-down-open:before { content: '\e818'; } /* '' */
.icon-left-open:before { content: '\e819'; } /* '' */
.icon-right-open:before { content: '\e81a'; } /* '' */
.icon-up-open:before { content: '\e81b'; } /* '' */
.icon-down-open-1:before { content: '\e81c'; } /* '' */
.icon-left-open-1:before { content: '\e81d'; } /* '' */
.icon-right-open-1:before { content: '\e81e'; } /* '' */
.icon-up-open-1:before { content: '\e81f'; } /* '' */
.icon-comment:before { content: '\e820'; } /* '' */
.icon-cog-alt:before { content: '\e821'; } /* '' */
.icon-cog:before { content: '\e822'; } /* '' */
.icon-info:before { content: '\e823'; } /* '' */
.icon-left-circled:before { content: '\e824'; } /* '' */
.icon-right-circled:before { content: '\e825'; } /* '' */
.icon-up-circled:before { content: '\e826'; } /* '' */
.icon-down-circled:before { content: '\e827'; } /* '' */
.icon-eye:before { content: '\e828'; } /* '' */
.icon-plus:before { content: '\e829'; } /* '' */
.icon-arr-left:before { content: '\e82a'; } /* '' */
.icon-arr-right:before { content: '\e82b'; } /* '' */
.icon-ok-circled:before { content: '\e82c'; } /* '' */