
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-down-dir:before { content: '\e809'; } /* '' */
.icon-up-dir:before { content: '\e80a'; } /* '' */
.icon-left-dir:before { content: '\e80b'; } /* '' */
.icon-right-dir:before { content: '\e80c'; } /* '' */
.icon-search:before { content: '\e80d'; } /* '' */
.icon-basket:before { content: '\e80e'; } /* '' */
.icon-th-list:before { content: '\e80f'; } /* '' */
.icon-camera:before { content: '\e810'; } /* '' */
.icon-location:before { content: '\e811'; } /* '' */
.icon-phone:before { content: '\e812'; } /* '' */
.icon-facebook-squared:before { content: '\e813'; } /* '' */
.icon-twitter-squared:before { content: '\e814'; } /* '' */
.icon-plus-squared:before { content: '\e815'; } /* '' */
.icon-home:before { content: '\e816'; } /* '' */
.icon-minus-squared:before { content: '\e817'; } /* '' */
.icon-down-open:before { content: '\e818'; } /* '' */
.icon-left-open:before { content: '\e819'; } /* '' */
.icon-right-open:before { content: '\e81a'; } /* '' */
.icon-up-open:before { content: '\e81b'; } /* '' */
.icon-down-open-1:before { content: '\e81c'; } /* '' */
.icon-left-open-1:before { content: '\e81d'; } /* '' */
.icon-right-open-1:before { content: '\e81e'; } /* '' */
.icon-up-open-1:before { content: '\e81f'; } /* '' */
.icon-comment:before { content: '\e820'; } /* '' */
.icon-cog-alt:before { content: '\e821'; } /* '' */
.icon-cog:before { content: '\e822'; } /* '' */
.icon-info:before { content: '\e823'; } /* '' */
.icon-left-circled:before { content: '\e824'; } /* '' */
.icon-right-circled:before { content: '\e825'; } /* '' */
.icon-up-circled:before { content: '\e826'; } /* '' */
.icon-down-circled:before { content: '\e827'; } /* '' */
.icon-eye:before { content: '\e828'; } /* '' */
.icon-plus:before { content: '\e829'; } /* '' */
.icon-arr-left:before { content: '\e82a'; } /* '' */
.icon-arr-right:before { content: '\e82b'; } /* '' */
.icon-ok-circled:before { content: '\e82c'; } /* '' */